.auto-style1 {
	text-align: center;
	font-size: xx-large;
	color: #823D0C;
	font-family: "Bahnschrift Condensed";
}
 p.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	}
.auto-style2 {
	font-size: 14pt;
	color: #A5571F;
	font-family: "Corbel Light";
	text-align: center;
}
.auto-style5 {
	color: #823D0C;
	font-family: "Corbel Light";
}
.auto-style8 {
	text-align: center;
}
.auto-style10 {
	text-align: center;
	font-size: xx-large;
	color: #823D0C;
	font-family: "Corbel Light";
}
.auto-style12 {
	font-family: Agrandir;
}
.auto-style14 {
	font-family: "Corbel Light";
}
.auto-style15 {
	text-decoration: none;
}
.auto-style16 {
	color: #823D0C;
}
